$first-color: #FFFFFF;
$second-color: #111111;
$third-color: #BEAD8E;
$fourth-color: #222222;
$fifth-color: #686868;
$sixth-color: #777777;
$seventh-color: #BDAC8D;
$eighth-color: #C2C2C2;
$ninth-color: #F8F8F8;
$tenth-color: #999999;
$eleventh-color: #333333;
$twelveth-color: #292929;
$thirteenth-color: #BDBDBD;
$fourteenth-color: #F1F1F1;
$fifteenth-color: #DE5777;
$sixtheenth-color: #858585;
$seventheenth-color: #ECECEC