.offers{
  margin-top: 3.75rem;
 

  &__items {
    margin: 0 auto;

    @include desktop(){
      width: 100%;
      max-width: 73.125em;
    }


    &--card {
      width: 89.3%;
      margin: 0 auto;
      padding-bottom: 1.625em;

      @include desktop(){
        width: 100%;
      }


      & img {
        width: 100%;

        @include desktop(){
          height: 35.625em;
        }


      }
      &--info{
        background-color: $first-color;

        @include desktop(){
            width: 65.625em;
            margin: 0 auto;
            border-top: 0.375em solid $seventh-color;
            transform: translateY(-10%);
        }

        & hr{
          display: none;
          border: 0.0625em solid $seventheenth-color;

          @include desktop(){
            margin: 1.25em 2.8125em 2.375em 3.6875em;
            display: block;
          }
        }

        &--principal {
          display: flex;

          &--text{
            width: 94%;
            & h3 {
              font-size: 0.875rem;
              font-weight: 700;
              letter-spacing: 0.2em;
              font-family: "Archivo";
              padding-top: 1.143em;
              padding-left: 1.429em;
              color: $sixth-color;

              @include desktop(){
                padding-top: 4.142em;
                padding-left: 4.214em;
              }
            }

            & h1 {
              font-size: 2.5rem;
              font-weight: 400;
              font-family: "Old Standard TT";
              padding-top: 0.3em;
              padding-left: 0.5em;

              @include desktop(){
                padding-left: 1.229em;
                font-size: 3em;
                padding-top: 0.104em;
              }

              & a{
                text-decoration: none;
                color: $fourth-color;
              }
            }

          }
          &--price {
            font-family: "Archivo";
            padding-top: 1rem;
            width: 6%;
            transform: translate(-6.875rem, -6.875rem);

            @include desktop(){
              transform: translate(0,-1em);
              width: 20%;
            }
  
            &--original {
              font-size: 1.438rem;
              color: $third-color;
              display: flex;
              text-decoration: line-through;
              margin-left: 0.87em;
              margin-bottom: 0.957em;

              @include desktop(){
                font-size: 1.875rem;
                padding-top: 1.833em;
                margin-bottom: 0.5em;
           
              }

              & p {
                font-size: 0.688rem;
                align-self: flex-end;
                margin-bottom: 0.462em;

                @include desktop(){}
                font-size: 0.75rem;
              }
            }
            &--offer {
              font-size: 1.875rem;
              color: $fifteenth-color;
              display: flex;

              @include desktop(){
                font-size: 2.5rem;
              }

              & p {
                font-size: 0.75rem;
                align-self: flex-end;
                margin-bottom: 0.417em;

            
                @include desktop(){
                font-size: 1rem;
                }
              }
            }
          }
        }
        &--description{
          @include desktop(){
            padding-left: 3.687em;
    
          }
          &--text{
            @include desktop(){
              display: flex;
            }
            &--desc {
              white-space: break-word;
              font-size: 0.875rem;
              font-family: "Roboto";
              margin-top: 1.714em;
              margin-bottom: 1.714em;
              padding-left:  1.429em;
              line-height: 1.714em;
              color: $sixth-color;

              @include desktop(){
                font-size: 1rem;
                padding: 0;
                margin: 0;
                width: 50%;
              }
              
            }
            &--have{
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr;
              margin-right: 0.583rem;
              margin-bottom: 1rem;
              padding-left:  1.429em;

              @include desktop(){
                width:36%;
                column-gap: 2.625em;
                gap: 0.5625em;
                margin-left: auto;
                margin-right: 4.0625em;
              }

              
            }
          }
          &--button{
            width: 15.428em;
            font-size: 0.875rem;
            font-family: "Archivo";
            font-weight: 700;
            letter-spacing: 0.2em;
            color: $first-color;
            background-color: $third-color;
            padding-top: 1.571em;
            padding-bottom: 1.643em;
            border: none;
            margin-bottom: 0.714em;

            @include desktop() {
              transform: translateY(-70%);
            }
        }
        }
      }
    }
  }
}
