.features{
    &__subtitle{
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        padding-top: 4.571em;
        color: $sixth-color;
        font-family: "Archivo";
        text-align: center;

        @include desktop(){
            padding-top: 1.214em;
        }

    }
    &__title{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
        font-family: 'Old Standard TT';
        line-height: 1.071em;
        padding-top: 0.429em;
        padding-bottom: 0.554em;
        color: $fourth-color;

        @include desktop(){
            font-size: 5em;
            line-height: 1em;
            padding-top: 0.3em;
            padding-bottom: 0.3875em;
        }
    }
    &__swiper {
        width: 100%;
        max-width: 23.9375em;
        margin: 0 auto;
        padding-bottom: 2.563rem;

        
        --swipper-pagination: false;
        --swiper-pagination-color:#BEAD8E;

        @include desktop(){
            max-width: 74.25em;
        }

        &--slider {
            
            margin-bottom: 2rem;

            &--number {
                color: $fourth-color;
                font-family: "Archivo";
                opacity: 0.04;
                font-size: 7.5rem;
                text-align: right;
                padding-right: 0.267em;
            }

            & svg , & img{
                margin-left: 2.375rem;
                transform: translateY(-70%);
                
                &:hover{
                    width: 6.25em;
                    height: 6.25em;
                }
            }

            &--title{
                font-size: 1.875rem;
                font-weight: 400;
                font-family: 'Old Standard TT';
                line-height: 1em;
                padding-left: 1.267em;
                padding-bottom: 0.933em;
                color: $fourth-color;
            }
            &--description {
                font-size: 0.875rem;
                font-family: "Archivo";
                padding-left: 2.714em;
                color: $sixth-color;
                line-height: 1.714em;
                padding-bottom: 3.071em;
                width: 75%;
              }

        }
    }
}
.about{
    background-color: $fourth-color;
    

    @include desktop(){
        padding-top: 7.375em;
    }

    &__slider{
        background-color: $twelveth-color;
    }
    &__number{
        opacity: 1;
        padding-right: 0;
    }
    &__text{
        color: $first-color;
        
    }
}
