.desktop-nav{
    background-color: $fourth-color;
    z-index: 2;
    position: relative;

    @include desktop(){
        height: 100px;
    }

    &__text{
        color: $first-color;
        font-size: 1rem;
        display: none;

        @include desktop(){
            display: block;
            margin-left: 12.5%;
            padding-top: 11px;
        }
    }
}

.nav{
    display: flex;
    height: 4.375rem;
    box-shadow: 0 0.1875em 0.375em 0 rgba(0,0,0,0.29);
    background-color: $first-color;

    @include desktop(){
        max-width: 88.75em;
        height: 7.5em;
        margin: 0 auto;
        transform: translateY(10%);
        align-items: center;
        
    }


    &__icon{
        margin: 0 2rem 0 1.25rem;
        align-self: center;

        @include desktop(){
            display: none;
        }


    }
    &__container{
        display: flex;
        align-self: center;
        width: 6.875em;
        background-color: $first-color;

        @include desktop(){
           width: auto;
            margin-right: 6.5%;

        }


        &--logo{
        
            width: 32%;
            margin-right: 0.875rem;


            @include desktop(){
                margin-left: 1.25rem;
                width: 5em;
                padding-right: 1.75em;

            }

            & img {
                transform: translateX(100%) translateY(80%);

                @include desktop(){
                    width: 100%;
                    transform: translateX(15%) translateY(50%);
                }
    
            }
        }
        &--name{
            padding: 0.5rem 0 0.5rem 0;
            background-color: $first-color;
            @include desktop(){
                width: 8.562em;
                height: 3.5em;
            }
        }

    }

    &__options{
        flex: 1;
        align-self: center;
        text-align: right;
        margin-right: 1.25rem;
        background-color: $first-color;
        
        @include desktop(){
            text-align: center;
  
        }


        &--search{
            margin-left: 1.5rem;
            background-color: $first-color;

            @include desktop(){
            border: 0.125em solid $sixtheenth-color;
            width: 3.75em;
            height: 3.75em;
            padding: 1.125em;

        
            }
            
        }
        &--user{
            background-color: $first-color;
            @include desktop(){
                border: 0.125em solid $sixtheenth-color;
                box-sizing: border-box;
                width: 3.75em;
                height: 3.75em;
                padding: 1.125em;
            }
        }
    }
    
        &__menu{
            display: none;
            background-color: $first-color;
            width: 100%;
            flex-direction: column;
            padding-top: 2rem;

            @include desktop(){
                display: block;
                width : 47%;
    
            }

            & ul {
                @include desktop(){
                    display: flex;
                    flex-direction: row;
                    
                }
            }

        
            & li{
                list-style: none;
                padding-left: 3.75rem;
                padding-bottom: 1.5em;
             }
        
            & a {
             text-decoration: none;
             color: $second-color;
             font-size: 1rem;
             font-family: "Archivo";
             font-weight: 600;
            }
        }
}


.menu--mobile{
    display: none;
    background-color: $first-color;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;

    & li{
        list-style: none;
        padding-left: 1.25em;
        padding-bottom: 1.5em;
     }

    & a {
     text-decoration: none;
     color: $second-color;
     font-size: 1rem;
     font-family: "Archivo";
     font-weight: 600;
    }
}

