.nav{
    display: flex;
    height: 4.375rem;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.29);


    &__icon{
        margin: 0 2rem 0 1.25rem;
        align-self: center;
    }
    &__container{
        display: flex;
        align-self: center;
        width: 110px;


        &--logo{
        
            width: 32%;
            margin-right: 0.875rem;

            & img {
                transform: translateX(100%) translateY(80%);
            }
        }
        &--name{
            padding: 0.5rem 0 0.5rem 0;
        }

    }

    &__options{
        flex: 1;
        align-self: center;
        text-align: right;
        margin-right: 1.25rem;

        &--search{
            margin-left: 1.5rem;
        }
    }
}

.menu--mobile{
    display: none;
    background-color: $first-color;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;

    & li{
        list-style: none;
        padding-left: 1.25em;
        padding-bottom: 1.5em;
     }

    & a {
     text-decoration: none;
     color: $second-color;
     font-size: 1rem;
     font-family: "Archivo";
     font-weight: 600;
    }
}
