.aboutUs{
    @include desktop(){
        display: flex;
        margin: 7.5em auto 0 auto;
        flex-direction: row-reverse;

        width: 80.4%;

    }
    &__text{
        margin-top: 3.75rem;
        margin-left: 1.25rem;
        margin-bottom: 3.75rem;
        
        @include min440(){
            max-width: 28.56em;
        }

        @include desktop(){
            width:30%;
            margin-left: 4.75em;
            margin-right: 19.2%;
        }
        
        &--subtitle{
            font-size: 0.813rem;
            font-family: 'Archivo';
            color: $sixth-color;
            padding-top: 2.923em;
            letter-spacing: 0.215em;

            @include desktop(){
                font-size: 0.875rem;
            }
        }
        &--title{
            font-size: 3.5rem;
            font-family: 'Old Standard TT';
            font-weight: 400;
            padding-top: 0.571em;
            padding-bottom: 0.25em;
            line-height: 1.071em;

            @include desktop(){
                font-size: 5em;
                line-height: 1.125em;
                padding-top: 0.5125em;
                padding-bottom: 0.225em;
            }
        }
        &--description{
            font-size: 0.875rem;
            font-family: 'Archivo';
            font-weight: 400;
            line-height: 1.714em;
            padding-right: 2.143em;
            padding-bottom: 1.714em;
            color: $sixth-color;

            @include desktop(){
                padding-right: 2.9em;
            }
        }
        &--button{
            width: 57.6%;
            font-size: 0.875rem;
            font-family: "Archivo";
            font-weight: 700;
            letter-spacing: 0.215em;
            color: $first-color;
            background-color: $third-color;
            padding-top: 1.571em;
            padding-bottom: 1.643em;
            border: none;
        }
    }

    &__square{
        margin-left: auto;

        @include desktop(){
           width: 33.75em;

        }
    }

    &__strong{
        width: 16.875em;
        margin: 0 auto;
        padding-bottom: 2.625rem;

        @include desktop(){
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            max-width: 33.75em;
            padding-bottom: 0;


        }
        &--img{
            width: 100%;

            @include desktop(){
                width: 47%;
                margin-left: 5%;
                margin-top: 1.875em;
                
            }
        }
        &--text{
            text-align: center;
            padding-top: 3.375rem;
            box-shadow: 0 0.25em 0.25em 0 rgba(0,0,0,0.25);
            
            @include desktop(){

                width: 50%;
                height: auto;
            }


            & h3{
                font-size: 1.875rem;
                font-weight: 400;
                font-family: 'Old Standard TT';
                padding-top: 0.967em;
                padding-bottom: 0.667em;
            }
            & p {
                font-size: 0.875rem;
                font-family: 'Roboto';
                padding: 0 2.5em 2.714em 2.5em;
                line-height: 1.571em;
            }
        }
    }
    &__luxury{
        width: 16.875em;
        margin: 0 auto;

        @include desktop(){
            display: flex;
            width: 100%;
            max-width: 33.75em;

        }
        &--img{
            width: 100%;


            @include desktop(){
                margin-right: 5%;
                margin-top: 1.875em;
                width: 47%;
           
            }
        }
        &--text{
            text-align: center;
            padding-top: 3.375rem;
            background-color: $fourth-color;
            @include desktop(){
       
                width: 16.875em;
                margin-top: 3.3125em;
                height: auto;
                
            }


            & h3{
                font-size: 1.875rem;
                font-weight: 400;
                font-family: 'Old Standard TT';
                padding-top: 0.967em;
                padding-bottom: 0.667em;
                color: $first-color;
            }
            & p {
                font-size: 0.875rem;
                font-family: 'Roboto';
                padding: 0 2.5em 2.714em 2.5em;
                color: $first-color;
                line-height: 1.571em;
            }
        }
    }
}