
.rooms {

  margin-top: 3.75rem;

  &__subtitle {
    font-size: 0.875rem;
    font-family: "Archivo";
    letter-spacing: 0.2em;
    color: $sixth-color;
  }
  &__title {
    font-size: 3.5rem;
    font-family: "Old Standard TT";
    font-weight: 400;
    padding-top: 0.429em;
    margin-bottom: 0.357em;

    @include desktop(){
      font-size: 5em;
      padding-top: 0.425em;
      margin-bottom: 0.7625em
    }   
  }

  &__swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include desktop(){
      width: 100%;
    }

    .swiper-button-next{

      @include desktop(){
      right: 17%;
      }
    }

    .swiper-button-prev{

      @include desktop(){
      left: 17%;
      }
    }

    .swiper-button-next, .swiper-button-prev{
      color: $second-color;
      background-color: $first-color;
      width: 2rem;
      height: 2rem;
      font-size: 0.563em;
     transform: translateY(-10.333em);

     @include desktop(){
      font-size: 1.125rem;
      width: 4em;
      height: 4em;
      transform: translateY(-4.6em);
      

     }



      &:hover{
        background-color: $seventh-color;
        color: $first-color;
      }

      &:after {
        font-size: 0.563rem;

        @include desktop(){
          font-size: 1.125rem;
        }
      }
    }
    
    &--slider {
      
      margin-bottom: 1.875em;

      @include desktop(){
        width: 48.125em;
      }

       &--have{
        background-color: white;
        display: inline-block;
        margin: 0 auto;
        padding: 0.75rem 0;
        transform: translateY(1.563rem);
        padding-left: 1rem;

        & svg {
            margin-right: 1rem;
        }
       }

      & img {
        width: 100%;

      }
      &--text {
        width: 89%;
        margin: 0 auto;

        @include desktop(){
          display: flex;
          text-align: left;
          transform: translateY(-30%);
          background-color: $first-color
        }



        &--title {
          font-size: 1.75rem;
          font-weight: 400;
          font-family: "Old Standard TT";
          padding-top: 0.679em;
          padding-bottom: 1.107em;

          @include desktop(){
            font-size: 2.25rem;
            padding-left: 1.05em;
            padding-bottom: 0.46em;
            padding-top: 1.08em;
          }
        }
        &--description {
          font-size: 0.875rem;
          font-family: "Roboto";
          line-height: 1.714em;
          color: $sixth-color;

          @include desktop(){
            padding-left: 2.78em;
            max-width: 31.21em;
            padding-bottom: 3.07em;
          }

        }
        &--price {

          @include desktop(){
            align-self: center;
            width: 20%;
            margin-left: auto;
          }

          & h1 {
          font-family: "Archivo";
          font-size: 2rem;
          color: $third-color;
          padding-top: 0.375em;
          margin-bottom: 0.594em;
          display: flex;
          justify-content: center;
          
          @include desktop(){
            font-size: 2.5rem;
            padding: 0;
            margin-bottom: 0;
          }
        }
        
          & p {
            font-size: 0.815rem;
            align-self: flex-end;
            margin-bottom: 0.462em;

            @include desktop(){
              font-size: 1rem;
              margin-right: 2.125em;
            }
          }
        }
      }
    }
  }
}
