.videoIntro{
    background-color: $fourth-color;
    padding-left: 1.25em;
    display: flex;
    flex-direction: column;

    @include desktop(){
        display: grid;
        padding-bottom: 3.125em;
        grid-template-rows: auto;
        grid-auto-columns: 55%;

    }

    &__text{
        @include desktop{
            grid-column: 1;
            grid-row: 1;

            position: absolute;
            right: 55%;
            transform: translateX(25%);

            width: 36.875em;
            height: 30.25em;
           
        }
        &--subtitle{
            font-size: 0.875rem;
            letter-spacing: 0.2em;
            font-family: "Archivo";
            color: $seventh-color;
            padding-top: 9.28em;


        }
        &--title{
            width: 89%;
            font-size: 3.5rem;
            font-weight: 400;
            font-family: 'Old Standard TT';
            line-height: 1.071em;
            padding-top: 0.571em;
            padding-bottom: 0.286em;
            color: $first-color;

            @include desktop(){
                font-size: 5em;
                line-height: 1.0625em;
                padding-top: 0.45em;
                padding-bottom: 0.2625em;
            }
        }
        &--description{
            font-size: 0.875rem;
            font-family: 'Archivo';
            line-height: 1.714rem;
            padding-bottom: 2.286em;
            color: $eighth-color;
            width: 93%;

            @include desktop(){
                width:82%;

            }
        }
    }
    &__video{
        width: 89.3%;
        height: 16.875em;

        @include min440() {
            width: 27.5em;

        }

        @include desktop{
            grid-column: 2;
            grid-row: 1;
            width: 59.3%;
            max-width: 35.625em;
            min-width: 21.875em;
            height: 28.75em;
            object-fit: fill;
            margin-top: 7.5em;
        }

    }
    &__button{
        width:15.42em;
        font-size: 0.875rem;
        font-family: "Archivo";
        font-weight: 700;
        letter-spacing: 0.215em;
        color: $first-color;
        background-color: $third-color;
        padding-top: 1.571em;
        padding-bottom: 1.643em;
        margin-top: 3.571em;
        border: none;
        margin-bottom: 3.429em;
        text-align: center;
        text-decoration: none;

        @include desktop(){
            
            grid-row: 1;
            grid-column: 1;
            margin-bottom:  0;
            width:15.42em;
            height: 4.28em;
            right:  55.7%;
            position: absolute;
            transform: translateX(-100%);
            align-self: flex-end;

        }
    }
}