.cancel{
    width: 89.3%;
    margin: 0 auto;

    &__title {
        font-size: 1.875rem;
        font-weight: 400;
        font-family: "Old Standard TT";
        padding-bottom: 0.433em;
        color: $fourth-color;
    }
    &__line{
        border: 1px solid $fourteenth-color;
    }
    &__text{
        white-space: break-word;
        font-size: 1rem;
        font-family: "Roboto";
        margin-top: 2.125em;
        line-height: 1.5em;
        color: $sixth-color;
        margin-bottom: 4.286em;
      }
}