.firstDescription {
  width: 89.3%;

  &__text {
    &--subtitle {
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.2em;
      font-family: "Archivo";
      padding-top: 2.286em;
      padding-left: 1.429em;
      color: $sixth-color;
    }
    &--title {
      font-size: 2.5rem;
      font-weight: 400;
      font-family: "Old Standard TT";
      padding-top: 0.3em;
      padding-bottom: 0.25em;
      color: $fourth-color;
      padding-left: 0.5em;
    }
}
    &__price {
        font-family: "Archivo";
        font-size: 2rem;
        color: $third-color;
        padding-top: 0.375em;
        margin-bottom: 0.5em;
        display: flex;
        padding-left: 0.625em;

        & p {
          font-size: 0.815rem;
          align-self: flex-end;
          margin-bottom: 0.462em;
        }
      }
  }

.roomDetail__img{
    width: 89.3%;
    padding-left: 1.25em;
}

.secondDescription {
  &__text{
    white-space: break-word;
    font-size: 0.875rem;
    font-family: "Roboto";
    margin-top: 1.714em;
    padding: 0 20px;
    line-height: 1.714em;
    color: $sixth-color;
    margin-bottom: 4.286em;
  }
}