
.secondDescription {
  &__text{
    white-space: break-word;
    font-size: 0.875rem;
    font-family: "Roboto";
    margin: 1.714em auto 4.286em auto;
    padding: 0 1.429em;
    line-height: 1.714em;
    color: $sixth-color;
    max-width: 54.928em;
    

     @include desktop(){
      max-width: 48.0625em;
      font-size: 1rem;
      margin: 0 0 2.6875em 19.5%;
      padding: 0;
      line-height: 1.5em;
      
    }
  }
}