.related{
    width: 89.3%;
    margin: 0 auto;
    max-width: 46.25em;

    @include desktop(){
      margin-left: 19.5%;
      margin-bottom: 7.6875em;
    }

    &__title {
        font-size: 1.875rem;
        font-weight: 400;
        font-family: "Old Standard TT";
        padding-bottom: 0.433em;
        color: $fourth-color;
    }
    &__line{
        border: 0.0625em solid $fourteenth-color;
        margin-bottom: 2.313rem;
        
    }
    &__swiper {
        text-align: center;
        max-width: 23.125;
      
        @include desktop(){
            max-width: 46.25em;
  
        }
        
        --swiper-navigation-top-offset: 22.6%;
       
    
        .swiper-button-next, .swiper-button-prev{
          color: $second-color;
          background-color: $first-color;
          width: 2rem;
          height: 2rem;
          font-size: 0.563em;
    
          &:hover{
            background-color: $seventh-color;
            color: $first-color;
          }
    
          &:after {
            font-size: 0.563rem;
          }
        }
        
        &--slider {
        
    
           &--have{
            text-align: center;
            background-color: white;
            display: inline-block;
            padding: 0.75rem 0;
            padding-left: 1rem;
            transform: translateY(-1.25em);
        
    
            & svg {
                margin-right: 1rem;
            }
           }
    
          & img {
            width: 100%;
          }
          &--text {
            margin: 0 auto;
    
            &--title {
              font-size: 1.5rem;
              font-weight: 400;
              font-family: "Old Standard TT";
              margin-top: 0.167em;
              padding-bottom: 0.667em;
            }
            &--description {
              font-size: 0.875rem;
              font-family: "Roboto";
              line-height: 1.714em;
              color: $sixth-color;
            }
            &--price {
              font-family: "Archivo";
              padding-top: 1rem;
              display: flex;
              justify-content: center;
    
              &--cost {
                font-size: 1rem;
                color: $third-color;
                margin-right: 1.5em;
                display: flex;
                & p {
                  align-self: flex-end;
                  margin-bottom: 0.462em;
                  padding-bottom: 1.063em;
                }
              }
              &--book {
                font-size: 1rem;
                color: $thirteenth-color;
                text-decoration: none;
                font-weight: 700;
    
                &:hover{
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
      }


}