.userInfo{
    width: 89.3%;
    max-width: 23.125em;
    margin: 0 auto;
    text-align: center;

    @include desktop(){
        box-shadow: 0 0.875em 1.5em 0 rgba(190,173,142,0.28);
        margin-left: 19.5%;
    }

    &__img{
        margin-top: 1.25rem;
        width: 9.375rem;
        height:  9.375rem;
        border-radius: 50%;
    }

    &__circle{
        background-color: $seventh-color;
        width: 2.875em;
        height: 2.875em;
        border-radius: 50%;
        border: solid 0.25em $first-color;
        padding-top: 0.688rem;
        margin: 0 auto;
        transform: translate(3.438rem, 3.75rem)
    }
    &__title {
        margin: 0;
        font-size: 1.875rem;
        font-weight: 400;
        font-family: "Old Standard TT";
        padding-top: 1.267em;
        padding-bottom: 0.5em;
        color: $fourth-color;
    }
    &__subtitle {
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.2em;
        font-family: "Archivo";
        color: $seventh-color;
        padding-bottom: 1.786em;
    }
    &__description{
        text-align: center;
        font-family: "Archivo";
        font-size: 1rem;
        line-height: 1.5em;
        color: $sixth-color;
        padding-bottom: 2.563em;
        margin: 0 auto;
        width: 85%;

      }
}