.rooms {
  margin-top: 3.75rem;
  text-align: center;
  margin-bottom: 7.5em;

  &__items {
    width: 23.4375em;
    margin: 0 auto;

    @include desktop(){
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      max-width: 73.125em;
    }

    &--card {
      width: 89.3%;
      margin: 0 auto;
      padding-bottom: 1.625em;

      @include desktop(){
        width: 23.125em;
      }

      &--have {
        background-color: white;
        display: inline-block;
        margin: 0 auto;
        padding: 0.75rem 0;
        padding-left: 1rem;
        transform: translateY(-60%);

        & svg {
          margin-right: 1rem;
        }
      }

      & img {
        width: 100%;
      }
      &--text {
        width: 89%;
        margin: 0 auto;

        &--title {
          font-size: 1.5rem;
          font-weight: 400;
          font-family: "Old Standard TT";
          padding-bottom: 0.667em;
        }
        &--description {
          font-size: 0.875rem;
          font-family: "Roboto";
          line-height: 1.714em;
          color: $sixth-color;
        }
        &--price {
          font-family: "Archivo";
          padding-top: 1rem;
          display: flex;
          justify-content: center;

          &--cost {
            font-size: 1rem;
            color: $third-color;
            margin-right: 1.5em;
            display: flex;
            & p {
              align-self: flex-end;
              margin-bottom: 0.462em;
              padding-bottom: 1.063em;
            }
          }
          &--book {
            font-size: 1rem;
            color: $thirteenth-color;
            text-decoration: none;
            font-weight: 700;

            &:hover{
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  &__page{
    width: 100%;

    display: flex;
    justify-content: center;
    & button {
      background-color: $first-color;
      border: none;
      margin-right: 0.714em;
      font-size: 0.875rem;
      font-family: 'Oswald';
      padding: 0.857em 1.143em;
    }
    & p {
      margin-right: 0.714em;
      font-size: 0.875rem;
      font-family: 'Oswald';
      padding: 0.857em 1.143em;
    }
  }
}
