@import 'utilities/variables';
@import 'components/nav';
@import 'components/footer';
@import 'components/home/header';
@import 'components/home/check';
@import 'components/home/about';
@import 'components/home/rooms';
@import 'components/home/videoIntro';
@import 'components/home/features';
@import 'components/home/menu';
@import 'components/home/swiper';
@import 'components/home/stats';
@import 'components/home/info';
@import 'base/fonts';

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
