@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;@700&display=swap");
.nav {
  display: flex;
  height: 4.375rem;
}
.nav__menu {
  margin: 0 2rem 0 1.25rem;
  align-self: center;
}
.nav__container {
  display: flex;
  align-self: center;
  width: 110px;
}
.nav__container--logo {
  width: 32%;
  margin-right: 0.875rem;
}
.nav__container--logo img {
  transform: translateX(100%) translateY(80%);
}
.nav__container--name {
  padding: 0.5rem 0 0.5rem 0;
}
.nav__options {
  flex-grow: 1;
  align-self: center;
  text-align: right;
  margin-right: 1.25rem;
}
.nav__options--search {
  margin-left: 1.5rem;
}

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0 0), url(../assets/img/imgHeader.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FFFFFF;
}
.header__subtitle {
  font-size: 0.813rem;
  font-family: "Archivo";
  padding-top: 5.679em;
  margin-left: 1.538em;
  letter-spacing: 0.215em;
  line-height: 1.385em;
  width: 63%;
}
.header__title {
  font-size: 3.5rem;
  font-family: "Old Standard TT";
  padding: 0.714em 0;
  margin-left: 0.357em;
  width: 88%;
  font-weight: 400;
  line-height: 1.071em;
}
.header__options button {
  color: #FFFFFF;
  font-family: "Archivo";
  margin-left: 1.429em;
  font-size: 0.875rem;
  width: 57.6%;
  padding: 1.643em 0;
  letter-spacing: 0.2em;
}
.header__options--take {
  margin-bottom: 1.714em;
  background-color: #BEAD8E;
  border: none;
  font-weight: 700;
}
.header__options--more {
  margin-bottom: 5.714em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.33);
  font-weight: 700;
}

.check {
  background-color: #222222;
}
.check__form {
  padding-top: 2.25rem;
  margin-left: 1.25rem;
  padding-bottom: 1.875rem;
  width: 89.3%;
}
.check__form label {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "Roboto";
  border-bottom: 1px solid #BEAD8E;
}
.check__form svg {
  margin-top: 1.875em;
  color: black;
}
.check__form input {
  background-color: transparent;
  margin-top: 1.875em;
  border: none;
  color: #686868;
  font-size: 0.875rem;
  font-family: "Roboto";
  margin-bottom: 1.214em;
}
.check__form--arrival {
  margin-bottom: 1.875em;
}
.check__form--departure {
  margin-bottom: 2.625em;
}
.check__form--button {
  width: 66.6%;
  font-size: 0.875rem;
  font-family: "Archivo";
  color: #FFFFFF;
  padding: 1.643em 0;
  letter-spacing: 0.2em;
  background-color: #BEAD8E;
  border: none;
  font-weight: 700;
}

.about__text {
  margin-top: 3.75rem;
  margin-left: 1.25rem;
  margin-bottom: 3.75rem;
}
.about__text--subtitle {
  font-size: 0.813rem;
  font-family: "Archivo";
  color: #777777;
  padding-top: 2.923em;
  letter-spacing: 0.215em;
}
.about__text--title {
  font-size: 3rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  padding-top: 0.571em;
  padding-bottom: 0.25em;
  line-height: 1.071em;
}
.about__text--description {
  font-size: 0.875rem;
  font-family: "Archivo";
  font-weight: 400;
  line-height: 1.714em;
  padding-right: 2.143em;
  padding-bottom: 1.714em;
}
.about__text--button {
  width: 57.6%;
  font-size: 0.875rem;
  font-family: "Archivo";
  font-weight: 700;
  letter-spacing: 0.215em;
  color: #FFFFFF;
  background-color: #BEAD8E;
  padding-top: 1.571em;
  padding-bottom: 1.643em;
  border: none;
}
.about__strong {
  width: 72%;
  margin: 0 auto;
  padding-bottom: 2.625rem;
}
.about__strong--img {
  width: 100%;
}
.about__strong--text {
  text-align: center;
  padding-top: 3.375rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about__strong--text h3 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Old Standard TT";
  padding-top: 1.133em;
  padding-bottom: 0.667em;
}
.about__strong--text p {
  font-size: 0.875rem;
  font-family: "Roboto";
  padding: 0 2.5em 2.714em 2.5em;
  line-height: 1.571em;
}
.about__luxury {
  width: 72%;
  margin: 0 auto;
}
.about__luxury--img {
  width: 100%;
}
.about__luxury--text {
  text-align: center;
  padding-top: 3.375rem;
  background-color: #222222;
}
.about__luxury--text h3 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Old Standard TT";
  padding-top: 1.133em;
  padding-bottom: 0.667em;
  color: #FFFFFF;
}
.about__luxury--text p {
  font-size: 0.875rem;
  font-family: "Roboto";
  padding: 0 2.5em 2.714em 2.5em;
  color: #FFFFFF;
  line-height: 1.571em;
}

.rooms {
  margin-top: 3.75rem;
  text-align: center;
}
.rooms__subtitle {
  font-size: 0.875rem;
  font-family: "Archivo";
  letter-spacing: 0.2em;
  color: #777777;
}
.rooms__title {
  font-size: 3.5rem;
  font-family: "Old Standard TT";
  font-weight: 400;
  padding-top: 0.429em;
  margin-bottom: 0.357em;
}
.rooms__swiper {
  width: 375px;
  height: 100%;
  margin: 0 auto;
  --swiper-navigation-color: #111111;
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-top-offset: 35%;
}
.rooms__swiper .swiper-button-next {
  background-color: white;
}
.rooms__swiper--slider {
  margin-bottom: 100px;
}
.rooms__swiper--slider--have {
  background-color: white;
  display: inline-block;
  margin: 0 auto;
  padding: 0.75rem 0;
  transform: translateY(1.563rem);
  padding-left: 1rem;
}
.rooms__swiper--slider--have svg {
  margin-right: 1rem;
}
.rooms__swiper--slider img {
  width: 100%;
}
.rooms__swiper--slider--text {
  width: 89%;
  margin: 0 auto;
}
.rooms__swiper--slider--text--title {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Old Standard TT";
  padding-top: 0.679em;
  padding-bottom: 0.429em;
}
.rooms__swiper--slider--text--description {
  font-size: 0.875rem;
  font-family: "Roboto";
  padding: 0 2.929em;
  color: #777777;
}
.rooms__swiper--slider--text--price {
  font-family: "Archivo";
  font-size: 2rem;
  color: #BEAD8E;
  padding-top: 0.375em;
  display: flex;
  justify-content: center;
}
.rooms__swiper--slider--text--price p {
  font-size: 0.815rem;
  align-self: flex-end;
  margin-bottom: 0.462em;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */