@import 'utilities/variables';
@import 'components/nav';
@import 'components/header';
@import 'components/check';
@import 'components/about';
@import 'components/rooms';
@import 'components/videoIntro';
@import 'components/features';
@import 'components/menu';
@import 'components/swiper';
@import 'components/stats';
@import 'components/info';
@import 'base/fonts';

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
